* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Ubuntu";
	font-size: 1em;
	background-color: #f6e9d4;
	color: #606261;
	height: 100vh;
	width: 100%;
	opacity: 0;
    transition: opacity 0.5s;
}

a {
	color: #5F514F;
}

#canvasHolder {
	position: fixed;
	z-index: -1;
	height: 100%;
}

#content {
	height: 100%;
}

.nameTitle {
	font-size: 6em;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	color: #5F514F;
}

.subTitle {
	font-size: 1.3em;
	font-weight: bold;
}

#frontSplash {
	padding: 4em;
	margin: auto;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.smallContainer {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.finalBlock {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

#social a {
	display: inline-block;
	color: #5F514F;
}

.projectNameTag a:link {
	text-decoration: none;
}

#social {
	padding-top: 2em;
	margin: auto;
}

#social img {
	width: 1.8em;
	padding-right: 0.3em;
}

.projectBlock {
	overflow: visible;
	display: flex;
	justify-content: center;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
	width: 100%;
}

.imageUnderlay {
	padding-top: 2.0em;
	position: relative;
  	text-align: center;
  	color: white;
}

.imageUnderlay img {
	border-radius: 0.5em;
	width: 100%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.skillBlock {
	overflow: visible;
	margin: auto;
	width: 50%;
	padding-top: 1.8em;
	text-align: center;
}


.skillBlock h3 {
	padding-bottom: 1.0em;
}

.sectionTitle {
	font-size: 2em;
	text-align: center;
	padding-top: 2.2em;
	padding-bottom: 0.1em;
}

.projectTitle {
	font-size: 2em;
}

.projectDescription {
	margin-top: 0.7em;
	margin-bottom: 1em;
	line-height: 1.9em;
}

.thumbnail {
	object-fit: cover;
	width: 21em;
	height: 16.6em;
	border-radius: 0.5em;
	filter: drop-shadow(4px 4px 2px #00000055);
	outline: 20px solid transparent;
}

.projectNameTag {
	width: 35%;
	margin-right: 2em;
}

.projectTag {
	font-size: 0.9em;
	padding-top: 0.5em;
}

.projectTools {
	list-style-type: none;
	margin-bottom: 1em;
}

.projectTools li {
	display: inline-block;
	background: #606261;
	color: #D8D9CE;
	font-size: 1em;
	border-radius: 0.3em;
	padding: 0.25em;
	margin-bottom: 0.6em;
}

footer p {
	text-align: center;
	padding: 3em 0em 2em 0em;
}

.fadeIn {
	opacity: 0;
	transform: translateY(4vh);
	visibility: hidden;
	transition: opacity 0.4s ease-out, transform 0.2s ease-out;
	will-change: opacity, visibility;
}

.fadeIn.onScreen {
	opacity: 1;
	transform: none;
	visibility: visible;
}

.fadeInStill {
	opacity: 0;
	transition: opacity 0.4s ease-out;
	will-change: opacity, visibility;
}

.fadeInStill.onScreen {
	opacity: 1;
}

.fadeInStill.offScreen {
	opacity: 0;
}

.projectTools li.softSkill {
	background: #aab5b2;
	color: #606261;
}

nav {
	position: fixed;
	text-align: right;
	width: 100%;
	background-color: #f6e9d4de;
	z-index: 1;
	filter: drop-shadow(0px 2px 2px #00000011);
}

nav li {
	display: inline-block;
}

nav li a {
	padding: 18px 22px;
	text-align: center;
	display: block;
	text-decoration: none;
}

@media(max-width: 920px) {
	nav {
		display: none;
	}

	.projectNameTag {
		width: 100%;
	}

	.projectBlock {
		max-width: 100%;
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
	}

	.thumbnail {
		width: 100%;
	}

	.skillBlock {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.finalBlock {
		padding-left: 0;
		padding-right: 0;
	}

	.imageUnderlay img {
		border-radius: 0em;
	}

	.centered {
		padding-left: 2.5em;
		padding-right: 2.5em;
		width: 80%;
	}
}