* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Ubuntu";
	font-size: 1em;
	background-color: #D8D9CE;
	color: #606261;
	height: 100vh;
	width: 100%;
	opacity: 0;
    transition: opacity 1s;
}

a {
	color: #5F514F;
}

#canvasHolder {
	position: fixed;
	z-index: -1;
}

#content {
	height: 100%;
}

.nameTitle {
	font-size: 6em;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	color: #5F514F;
}

.subTitle {
	font-size: 1.3em;
	font-weight: bold;
}

#frontSplash {
	padding: 4em;
	margin: auto;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.smallContainer {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

#social a {
	display: inline-block;
	color: #5F514F;
}

.projectNameTag a:link { 
	text-decoration: none;
}

#social {
	padding-top: 2em;
	margin: auto;
}

#social img {
	width: 2em;
	padding-right: 0.5em;
}

.projectBlock {
	overflow: hidden;
	display: flex;
	justify-content: center;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
	width: 100%;
}

.sectionTitle {
	font-size: 2.5em;
	text-align: center;
	padding-top: 1.5em;
}

.projectTitle {
	font-size: 2.5em;
}

.projectDescription {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.9em;
	
}

.thumbnail {
	width: 20em;
	border-radius: 1em;
}

.projectNameTag {
	width: 35%;
	margin-right: 2em;
}

.projectTag {
	font-size: 1em;
}

.projectTools {
	list-style-type: none;
	margin-bottom: 1em;
}

.skills {
	max-width: 50%;
	text-align: center;
}

.projectTools li {
	display: inline-block;
	background: #606261;
	color: #D8D9CE;
	font-size: 1em;
	border-radius: 0.5em;
	padding: 0.25em;
	margin-bottom: 0.6em;
}

#bottom {
	text-align: center;
}

footer p {
	text-align: center;
	padding: 3em 0em 2em 0em;
}

.fadeIn {
	opacity: 0;
	transform: translateY(8vh);
	visibility: hidden;
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
	will-change: opacity, visibility;
}

.fadeIn.onScreen {
	opacity: 1;
	transform: none;
	visibility: visible;
}

.projectTools li.softSkill {
	background: #aab5b2;
	color: #606261;
}

@media(max-width: 920px) {
	.projectNameTag {
		width: 100%;
	}
		
	.projectBlock {
		max-width: 100%;
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
	}
	
	.thumbnail {
		width: 100%;
	}
	
	.skills {
		max-width: 100%;
		text-align: center;
	}
}